/* Container for messages */
#messageContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

/* Common styles for all messages */
#messageBody {
    border-radius: 8px;
    margin-left: 7px;
    max-width: 70%;
}
#myProfile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#myProfile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 7px;
    object-fit: cover;
}

#currentUserMessage {
    max-width: 90%;
    background-color: #d4edda;
    align-self: flex-start;
    text-align: left;
    border-radius: 10px;
}

/* Message from other users */
#otherUserMessage {
    max-width: 90%;
    background-color: #f1f0f0;
    align-self: flex-end;
    border-radius: 10px;
}

#myProfile h3 {   
    font-weight: bold;
    margin: 0;
    font-size: 1rem;
    color: rgb(97, 42, 165);
}

#messageBody h4 {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

#messageBody p {
    margin: 0.5rem 0 ;
    font-size: 0.2rem;
    color: #888888ed;

}