#navContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 3.1rem;
    height: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

#navBar {
    display: flex;
    position: fixed;
    left: 0;
    width: 99%;
    height: 60px;
    background: linear-gradient(180deg, #6fb0f1, #3982f7);

}

#settings {
    position: absolute;
    bottom: 10px;
    left: 0;
    
}

#settings img {
    width:45px;
    cursor: pointer;
    border-radius: 100px;
}

#settings :active {
    transform: scale(1.1);

}

#settingsMenu {
    position: absolute;
    left: 10px;
    bottom: 50px;
    background: linear-gradient(150deg,#4f8ff6, #82b9f1, white);
    border: 1px solid #230fda;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

#settingsMenu div {
    padding: 10px;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    color: #ffffff;
    border-bottom: 1px solid #093258;
}


#settingsMenu div:last-child {
    border-bottom: none;
}

#settingsMenu div:hover {
    background-color: #f8f8f8;
    color: #093258;
}

#colorPicker {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 1000;
}

.colorOption {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, border 0.2s;
}

.colorOption:hover {
    transform: scale(1.1);
    border: 2px solid black;
}

#showMyDetails p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.collapsible-item.hidden{
    display: none;
}
.collapsible-item.shown{
    display: block;
}
#menu{
    display: none;
}
#logout{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #093258;
}

@media screen and (max-width: 768px) {
    #menu{
        display: block;
        align-self: center;
        
       img{
        width: 40px;
       }
    }
}